# Geocoding London neighbourhoods
This notebook is part of Coursera capstone project, but I separated it to keep readibility in the main project notebook. You can find the main project here: https://github.com/dedi400/Coursera_Capstone/blob/main/Capstone%20project%20-%20Location%20data.ipynb

The aim of this code is to get the list of London neighbourhoods from a wiki page and attach location data to each of them.

In [1]:
import pandas as pd
import googlemaps

## Reading data
Fortunately wikipedia puts all tables properly into a *\<table>* tag, so Pandas library can read it directly. *Read_html* returns a list of dataframes so we have to find the proper the table we need (it's the second table in this case).

In [2]:
london_url='https://en.wikipedia.org/wiki/List_of_areas_of_London'
london=pd.read_html(london_url,flavor='bs4')
len(london)

5

In [3]:
df_london=london[1]
print(df_london.shape)
df_london.head()

(533, 6)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

## Data cleaning
I have to rename the columns because *\&nbsp;* was used instead of normal space in th header and it makes trouble in filtering

In [4]:
df_london.columns=['Neighbourhood','Borough','Town','Postcode','Dial','OS']
df_london

,Neighbourhood,Borough,Town,Postcode,Dial,OS
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
528,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
531,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [5]:
df_london=df_london[df_london['Town']=='LONDON'].drop(['Town','Dial','OS'],axis=1)
df_london

       Neighbourhood                            Borough  Postcode
0         Abbey Wood              Bexley, Greenwich [7]       SE2
1              Acton  Ealing, Hammersmith and Fulham[8]    W3, W4
6            Aldgate                           City[10]       EC3
7            Aldwych                    Westminster[10]       WC2
9            Anerley                        Bromley[11]      SE20
..               ...                                ...       ...
522       Wood Green                           Haringey       N22
523         Woodford                          Redbridge  IG8, E18
527    Woodside Park                             Barnet       N12
528         Woolwich                          Greenwich      SE18
530  Wormwood Scrubs             Hammersmith and Fulham       W12

[299 rows x 3 columns]

Removing references and whitespaces from Borough column

In [6]:
df_london['Borough']=df_london['Borough'].apply(lambda b: b.split('[',1)[0].strip())
df_london

       Neighbourhood                         Borough  Postcode
0         Abbey Wood               Bexley, Greenwich       SE2
1              Acton  Ealing, Hammersmith and Fulham    W3, W4
6            Aldgate                            City       EC3
7            Aldwych                     Westminster       WC2
9            Anerley                         Bromley      SE20
..               ...                             ...       ...
522       Wood Green                        Haringey       N22
523         Woodford                       Redbridge  IG8, E18
527    Woodside Park                          Barnet       N12
528         Woolwich                       Greenwich      SE18
530  Wormwood Scrubs          Hammersmith and Fulham       W12

[299 rows x 3 columns]

I ran some more check on the neighbourhood list. It seems that postcodes don't follow neighbourhood borders so nice as in Toronto. As you can see below there are several different situations:

1. Some neighbourhoods have multiple postal codes (46 times)
2. Also, postal codes spans thorugh multiple neighbourhoods most of the time (220 out of 299!) Sometimes they span through multiple Boroughs (e.g. WC2 in Camden and Westminster).

In [7]:
print(df_london[df_london['Postcode'].str.contains(',')].shape)
df_london[df_london['Postcode'].str.contains(',')].sort_values('Borough')

(46, 3)

,Neighbourhood,Borough,Postcode
108,Colney Hatch,Barnet,"N11, N10"
171,Finchley,Barnet,"N2, N3, N12"
60,Brent Cross,Barnet,"NW2, NW4"
261,Kensal Green,Brent,"NW10, NW6"
320,Neasden,Brent,"NW2, NW10"
127,Crystal Palace,Bromley,"SE19, SE20, SE26"
242,Holborn,Camden,"WC1, WC2"
192,Gospel Oak,Camden,"NW5, NW3"
375,Primrose Hill,Camden,"NW1, NW3, NW8"
18,Barbican,City,"EC1, EC2"
457,Temple,"City, Westminster","EC4, WC2"
142,Ealing,Ealing,"W5, W13"
1,Acton,"Ealing, Hammersmith and Fulham","W3, W4"
155,Edmonton,Enfield,"N9, N18"
15,Arnos Grove,Enfield,"N11, N14"
51,Blackheath Royal Standard,Greenwich,"SE3, SE12"
399,Shacklewell,Hackney,"E8, N16"
200,Hackney,Hackney,"E5, E8, E9, N1, N16"
438,Stamford Hill,Hackney,"N15, N16"
421,South Tottenham,Haringey,"N15, N17"
56,Bounds Green,Haringey,"N11, N22"
465,Tottenham,Haringey,"N15, N17"
467,Tottenham Hale,Haringey,"N15, N17"
224,Harringay,Haringey,"N4, N8, N15"
10,Angel,Islington,"EC1, N1"
470,Tufnell Park,"Islington, Camden","N7, N19"
143,Earls Court,Kensington and Chelsea,"SW5, SW10"
337,North Kensington,Kensington and Chelsea,"W10, W11"
243,Holland Park,Kensington and Chelsea,"W8, W11, W14"
416,South Kensington,Kensington and Chelsea,"SW7, SW3, SW5"
471,Tulse Hill,Lambeth,"SE24, SE27"
441,Stockwell,Lambeth,"SW8, SW9"
355,Oval,Lambeth,"SW8, SW9, SE11"
188,Gipsy Hill,Lambeth,"SE19, SE27"
63,Brixton,Lambeth,"SW2, SW9, SE5"
274,Ladywell,Lewisham,"SE4, SE13"
455,Sydenham Hill,"Lewisham, Southwark","SE21, SE26"
520,Wimbledon,Merton,"SW19, SW20"
482,Upton Park,Newham,"E6, E13"
504,West Ham,Newham,"E13, E15"
523,Woodford,Redbridge,"IG8, E18"
328,Newington,Southwark,"SE1, SE17"
157,Elephant and Castle,Southwark,"SE1, SE11, SE17"
284,Leyton,Waltham Forest,"E10, E15"
425,Southfields,Wandsworth,"SW18, SW19"
289,Little Venice,Westminster,"W9, W2"

In [8]:
df_london[df_london.duplicated(subset=['Postcode'],keep=False)].sort_values('Postcode')

     Neighbourhood               Borough Postcode
492        Wapping         Tower Hamlets       E1
440        Stepney         Tower Hamlets       E1
381       Ratcliff         Tower Hamlets       E1
400       Shadwell         Tower Hamlets       E1
427   Spitalfields         Tower Hamlets       E1
..             ...                   ...      ...
269   King's Cross  Camden and Islington      WC1
431       St Giles                Camden      WC2
87   Charing Cross           Westminster      WC2
114  Covent Garden           Westminster      WC2
7          Aldwych           Westminster      WC2

[220 rows x 3 columns]

Based on these findings I decided that I am going to use Neighbourhood names instead of postal codes for this project.

There are 2-2 neighbourhoods with the same name, I'll add postcode to the name so geocoding can identify:

In [9]:
df_london[df_london.duplicated(subset=['Neighbourhood'],keep=False)].sort_values('Neighbourhood')

    Neighbourhood   Borough Postcode
100    Church End     Brent     NW10
101    Church End    Barnet       N3
197    Grove Park  Hounslow       W4
198    Grove Park  Lewisham     SE12

In [10]:
to_be_adjusted=[100,101,197,198]
  
df_london.loc[to_be_adjusted,'Neighbourhood']=df_london.loc[to_be_adjusted,'Postcode']+' '+ \
                                                df_london.loc[to_be_adjusted,'Neighbourhood']

df_london.loc[to_be_adjusted]

       Neighbourhood   Borough Postcode
100  NW10 Church End     Brent     NW10
101    N3 Church End    Barnet       N3
197    W4 Grove Park  Hounslow       W4
198  SE12 Grove Park  Lewisham     SE12

## Geocoding
I'm using Google Maps API for geocoding neighbourhoods, I found it more precise than OpenStreetMap when I search for areas instead of exact locations.

The googlemaps library returns a json-like data structure (actually it is a list of dictionaries of dictionaries). After some testing I found that `result[0]['geometry']['location']` gives a dictionary of `{'lat':'xxx','lng':'yyy'}` that is the coordinates we need.

In [11]:
google=googlemaps.Client(key='AIzaSyDJM_jXpm3PZcXGeLRZG9GiMeW1wz4DOzs') #to be deleted before publishing!

In [28]:
def neighbourhood_geocode(s):
    print(s['Neighbourhood'])
    result=google.geocode(s['Neighbourhood']+' London UK')
    try:
        return result[0]['geometry']['location']
    except:
        return

In [33]:
geo=df_london.apply(neighbourhood_geocode,axis=1,result_type='expand')

Abbey Wood
Acton
Aldgate
Aldwych
Anerley
Angel
Archway
Arnos Grove
Balham
Bankside
Barbican
Barnes
Barnsbury
Battersea
Bayswater
Bedford Park
Belgravia
Bellingham
Belsize Park
Bermondsey
Bethnal Green
Blackfriars
Blackheath
Blackheath Royal Standard
Blackwall
Bloomsbury
Bounds Green
Bow
Bowes Park
Brent Cross
Brent Park
Brixton
Brockley
Bromley (also Bromley-by-Bow)
Brompton
Brondesbury
Brunswick Park
Burroughs, The
Camberwell
Cambridge Heath
Camden Town
Canary Wharf
Cann Hall
Canning Town
Canonbury
Castelnau
Catford
Chalk Farm
Charing Cross
Charlton
Chelsea
Childs Hill
Chinatown
Chinbrook
Chingford
Chiswick
NW10 Church End
N3 Church End
Clapham
Clerkenwell
Colindale
Colliers Wood
Colney Hatch
Covent Garden
Cricklewood
Crofton Park
Crossness
Crouch End
Crystal Palace
Cubitt Town
Custom House
Dalston
Dartford
De Beauvoir Town
Denmark Hill
Deptford
Dollis Hill
Dulwich
Ealing
Earls Court
Earlsfield
East Dulwich
East Finchley
East Ham
East Sheen
Edmonton
Elephant and Castle
Eltham
Farringdon
Finchley
Finsbury
Finsbury Park
Fitzrovia
Forest Gate
Forest Hill
Fortis Green
Friern Barnet
Frognal
Fulham
Gipsy Hill
Golders Green
Gospel Oak
Grahame Park
Grange Park
Greenwich
W4 Grove Park
SE12 Grove Park
Gunnersbury
Hackney
Hackney Central
Hackney Marshes
Hackney Wick
Haggerston
The Hale
Hammersmith
Hampstead
Hampstead Garden Suburb
Hanwell
Harlesden
Harringay
Hendon
Herne Hill
Highams Park
Highbury
Highgate
Hither Green
Holborn
Holland Park
Holloway
Homerton
Honor Oak
Horn Park
Hornsey
Hoxton
The Hyde
Isle of Dogs
Islington
Kennington
Kensal Green
Kensington
Kentish Town
Kidbrooke
Kilburn
King's Cross
Kingsbury
Kingston Vale
Knightsbridge
Ladywell
Lambeth
Lea Bridge
Leamouth
Lee
Lewisham
Leyton
Leytonstone
Limehouse
Lisson Grove
Little Ilford
Little Venice
Lower Clapton
Maida Vale
Manor House
Manor Park
Maryland
Marylebone (also St Marylebone)
Mayfair
Maze Hill
Merton Park
Middle Park
Mile End
Mill Hill
Millbank
Millwall
Mortlake
Mottingham
Muswell Hill
Nag's Head
Neasden
New Cross
New Eltham
New Southgate
Newington
Nine Elms
Norbury
North Finchley
North Kensington
North Woolwich
Notting Hill
Nunhead
Oakleigh Park
Old Ford
Old Oak Common
Osidge
Oval
Paddington
Palmers Green
Park Royal
Parsons Green
Peckham
Penge
Pentonville
Pimlico
Plaistow
Plumstead
Poplar
Primrose Hill
Putney
Queen's Park
Ratcliff
Raynes Park
Roehampton
Rotherhithe
Sands End
Selhurst
Seven Sisters
Shacklewell
Shadwell
Shepherd's Bush
Shooter's Hill
Shoreditch
Silvertown
Snaresbrook
Soho
Somerstown
South Hackney
South Kensington
South Norwood
South Wimbledon
South Woodford
South Tottenham
Southend
Southfields
Southgate
Spitalfields
St James's
St Giles
St Johns
St John's Wood
St Luke's
St Pancras
Stamford Hill
Stepney
Stockwell
Stoke Newington
Stonebridge
Stratford
Streatham
Stroud Green
Surrey Quays
Swiss Cottage
Sydenham (also Lower Sydenham, Upper Sydenham)
Sydenham Hill
Temple
Tooting
Tooting Bec
Tottenham
Tottenham Green
Tottenham Hale
Totteridge
Tower Hill
Tufnell Park
Tulse Hill
Turnpike Lane
Upper Clapton
Upper Holloway
Upper Norwood
Upper Walthamstow
Upton Park
Vauxhall
Walthamstow
Walthamstow Village
Walworth
Wandsworth
Wanstead
Wapping
Well Hall
West Brompton
West Ealing
West Green
West Hackney
West Ham
West Hampstead
West Heath
West Hendon
West Kensington
West Norwood
Westcombe Park
Westminster
Whetstone
White City
Whitechapel
Willesden
Wimbledon
Winchmore Hill
Wood Green
Woodford
Woodside Park
Woolwich
Wormwood Scrubs

In [37]:
df_london=df_london.join(geo)
df_london.head()

  Neighbourhood                         Borough Postcode        lat       lng
0    Abbey Wood               Bexley, Greenwich      SE2  51.492612  0.118818
1         Acton  Ealing, Hammersmith and Fulham   W3, W4  51.508372 -0.274440
6       Aldgate                            City      EC3  51.513438 -0.077171
7       Aldwych                     Westminster      WC2  51.513266 -0.117183
9       Anerley                         Bromley     SE20  51.411911 -0.067978

It seems all neighbourhoods are successfully geocoded:

In [44]:
df_london.isna().sum()

Neighbourhood    0
Borough          0
Postcode         0
lat              0
lng              0
dtype: int64

In [45]:
df_london[df_london['lat']==0]

Empty DataFrame
Columns: [Neighbourhood, Borough, Postcode, lat, lng]
Index: []

## Saving data for the main project
Before saving the dataframe to csv I rename columns to be consistent with other cities.

In [48]:
df_london.rename({'lat':'Lat','lng':'Lon'},axis=1,inplace=True)
df_london.head()

  Neighbourhood                         Borough Postcode        Lat       Lon
0    Abbey Wood               Bexley, Greenwich      SE2  51.492612  0.118818
1         Acton  Ealing, Hammersmith and Fulham   W3, W4  51.508372 -0.274440
6       Aldgate                            City      EC3  51.513438 -0.077171
7       Aldwych                     Westminster      WC2  51.513266 -0.117183
9       Anerley                         Bromley     SE20  51.411911 -0.067978

In [49]:
df_london.to_csv('data/london_w_geocode.csv')